[Desktop Entry]
Name=nBMSI
GenericName=nBMSI
Comment=Congruent/InCongruent PsychoPy Task
Exec=bash -c "source ~/.venv/bin/activate; cd ~/tasks/MMY4/; ./nBMSI.py"
Type=Application
Icon=/home/lncd/tasks/MMY4/img/nBMSI.png
Terminal=true
